<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kukaj">
        <activity
            android:name=".detail.TouchDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Kukaj" />
        <activity
            android:name=".browse.TouchMainActivity"
            android:exported="true"
            android:theme="@style/Theme.Kukaj">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".browse.MainActivity"
            android:banner="@drawable/kukaj_banner"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_icon"
            android:logo="@mipmap/ic_launcher_icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".detail.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".playback.PlaybackActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".browse.BrowseErrorActivity"
            android:exported="false" />
        <activity
            android:name=".detail.DetailErrorActivity"
            android:exported="false" />
    </application>

</manifest>